@import "tailwindcss";


@theme {
  @keyframes slideFadeInRight {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideFadeOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(60px);
    }
  }

  --animation-slideIn: slideFadeInRight 0.5s ease forwards;
  --animation-slideOut: slideFadeOutRight 0.5s ease forwards;
}
@keyframes rise {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, -20%);
  }
}

.animate-rise {
  animation: rise 8s ease-in-out infinite alternate;
}


